@import "./lib/base";

:root {
  --spacing-left: 25px;
  --spacing-right: 45px;
  --spacing-bottom: 30px;
  --spacing-top: 10px;
  --chart-aspect-ratio: 4 / 3;

  @media @desktop {
    --spacing-right: 80px;
    --chart-aspect-ratio: 16 / 9;
  }
}

.lines {
  fill: none;
  stroke-width: 3px;
  stroke: #ccc;
}

@media screen and (min-width: 500px) {
  .key {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .key.one-line {
    display: none;
  }
}

.chart-frame {
  aspect-ratio: var(--chart-aspect-ratio);
  display: grid;
  grid-template-columns: var(--spacing-left) 1fr;
  grid-template-rows: 1fr var(--spacing-bottom);
  grid-template-areas: 
    "y chart"
    "_ x";
  padding-right: var(--spacing-right);
  padding-top: var(--spacing-top);

  .cell.y-axis { grid-area: y; }
  .cell.x-axis { grid-area: x; }
  .cell.chart { grid-area: chart; }

  .cell {
    position: relative;
    overflow: visible;

    svg {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      overflow: visible;
    }

    &.y-axis svg {
      width: auto;
    }

    &.x-axis svg {
      height: auto;
    }
  }

  .x-axis, .y-axis {
    z-index: 9;
  }
}

.value div {
  width: var(--spacing-right);
  .sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: @gray2;

  @media @mobile {
    .series-label { display: none; }
  }
}

.mobile-key ul {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: @sans-serif;

  @media @mobile {
    display: block;
  }

  li {
    display: inline-block;
    margin-right: 1em;
  }

  .key-block {
    width: 1em;
    display: inline-block;
    vertical-align: middle;
    border-bottom: 3px solid currentColor;
  }
}

@media @desktop {
  .graphic.small-multiple {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}